body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
}

.centered {
  text-align: center;
}

.centered-image {
  width: 700px;
  height: 550px;
  display: block;
  margin: auto;
}

.button {
  display: block;
  margin: auto;
  background-color: white;
  border-color: white;
  border-radius: 20px;
  width: 30px;
  heigth: 15px;
}